<div class="contenedor-footer row col-12 m-0 px-md-5">
    <div class="nosotros my-4 col-xs-12 col-md-6">
        <h1 class=" py-2">TURISMO USHUAIA</h1>
        <h2 class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
             when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
             It has survived not only five centuries, but also the leap into electronic typesetting, 
             remaining essentially unchanged. It was popularised in the 1960s with the release of 
             Letraset sheets containing Lorem</h2>
    </div>
    
    <div class="menu my-4 col-xs-12 col-md-2">
        <h1 class=" py-2">MENÚ</h1>
        <div class="enlaces">
            <ul>
                <li><a href="http://" > Home</a></li>
                <li><a href="http://" > Excursiones</a></li>
                <li><a href="http://" class="">Paquetes</a></li>
                <li><a href="http://" class=""> Sobre Ushuaia</a></li>
                <li><a href="http://" class=""> Nosotros</a></li>
                <li><a href="http://" class="">Contacto</a></li>
            </ul>
        </div>
    </div>
    <div class="contacto my-4 col-xs-12 col-md-4">
        <h1 class=" py-2">CONTACTO</h1>
        <div class="datos-contacto ">
            <div class="iconos col-2">
                <mat-icon class="">email</mat-icon>
                <mat-icon class="">call</mat-icon>
                <mat-icon class="">alternate_email</mat-icon>
            </div>
            <div class="datos-contac col-10 px-0">
                <h2 class=""> San Martin 824, Primer Piso B. Ushuaia. Tierra del Fuego. AR.</h2>
                <h2 class=""> (+54 9 2901) 000000 - (+54 9 2901) 000000</h2>
                <h2 class="">turismo.ushuaia@gmail.com</h2>
            </div>
            <div class="dato-contac py-2 ml-0 row">
                
            </div>
            <div class="dato-contac py-2 ml-0 row">
                
            </div>
            <div class="dato-contac py-2 ml-0 row">
                
            </div>
        </div>
    </div>
</div>