/* CONTENEDOR DATOS */
.container-cards {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .cantidad-card {
    /* padding-left: 10px; */
}

.cantidad-card h2 {
    font-size: 32px;
    font-weight: 700;
}

.card .dato-card {
    font-size: 35px;
    font-weight: 800;
}

.nombre-card h1 {
    font-size: 20px;
}