* {
  box-sizing: border-box;
}
body {
  background: #f1faff;
}
.container_card {
  max-width: 2000px;
  margin: 0 20px 20px 20px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card_father {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px 20px 20px;
  justify-content: space-evenly;
  perspective: 1000px;
}
