<div class="container-administrador col-12">
    <div class="container-menu col-2 p-0">
        <div class="container-usuario">
            <h1>TURISMO USHUAIA</h1>
        </div>
        <div class="container-etiquetas">
            <ul>
                <a href="http://"><li><mat-icon>home</mat-icon><h2>HOME</h2></li></a>
                <a href="http://" class=""><li><mat-icon>linked_camera</mat-icon><h2>EXCURSIONES</h2></li></a>
                <a href="http://" class=""><li><mat-icon>photo_library</mat-icon><h2>PAQUETES</h2></li></a>
                <a href="http://" class=""><li><mat-icon> local_grocery_store</mat-icon><h2>RESERVAS</h2></li></a>
                <a href="http://" class=""><li><mat-icon> map</mat-icon><h2>NOTICIAS</h2></li></a>
                <a href="http://" class=""><li><mat-icon>group</mat-icon><h2>USUARIOS</h2></li></a>
            </ul>
        </div>
        <div class="container-salir">
            <a href="http://" class="">SALIR</a>
        </div>
    </div>
    <div class="container-datos col-10 p-0">
        <div class="container-cards">
        <mat-card class="card">
            <div class="nombre-card">
               <span>EXCURSIONES</span>
            </div>
            <div class="cantidad-card">10</div>
            <!-- <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>EXCURSIONES</mat-card-title>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <span class="dato-card">10</span>
            </mat-card-content> -->
          </mat-card>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Small</mat-card-subtitle>
                
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Small</mat-card-subtitle>
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>
        </div>
    </div>

</div>