<p>
  <mat-toolbar class="whitespace-normal gap-3 menu flex justify-between">
    <a
      routerLink="/home"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span class="menu-item">
        <mat-icon class="material-symbols-outlined">home</mat-icon>
        Home
      </span>
    </a>
    <a
      routerLink="/excursiones"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span class="menu-item">
        <mat-icon>directions_run</mat-icon>
        Excursiones
      </span>
    </a>
    <a
      routerLink="/paquetes"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span class="menu-item">
        <mat-icon>hiking</mat-icon>
        Paquetes
      </span>
    </a>
    <a
      routerLink="/carrito"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span class="menu-item">
        <mat-icon>shop</mat-icon>
        Carrito
      </span>
    </a>
    <a
      routerLink="/mi-cuenta"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span class="menu-item">
        <mat-icon>person</mat-icon>
        Mi cuenta
      </span>
    </a>
  </mat-toolbar>
</p>
