<p>
  <mat-toolbar class="whitespace-normal gap-3 menu flex justify-around">
    <a
      routerLink="/home"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span class="menu-item">
        <mat-icon class="material-symbols-outlined menu-item-icon"
          >home</mat-icon
        >
        Home
      </span>
    </a>
    <a
      routerLink="/excursiones"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span class="menu-item">
        <mat-icon class="menu-item-icon">directions_run</mat-icon>
        Excursiones
      </span>
    </a>
    <a
      routerLink="/paquetes"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span class="menu-item">
        <mat-icon class="menu-item-icon">hiking</mat-icon>
        Paquetes
      </span>
    </a>
    <a
      routerLink="/carrito"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span class="menu-item">
        <mat-icon class="menu-item-icon">shop</mat-icon>
        Carrito
      </span>
    </a>
    <a
      routerLink="/mi-cuenta"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <span class="menu-item">
        <mat-icon class="menu-item-icon">person</mat-icon>
        Mi cuenta
      </span>
    </a>
  </mat-toolbar>
</p>
