<div class="container-cards">
    <mat-card class="card">
        <div class="cantidad-card px-2">
            <h2>10</h2>
        </div>
        <div class="nombre-card px-2">
            <h1>EXCURSIONES</h1>
        </div>
    </mat-card>
    <mat-card class="card">
        <div class="cantidad-card px-2">
            <h2>5</h2>
        </div>
        <div class="nombre-card px-2">
            <h1>PAQUETES</h1>
        </div>
    </mat-card>
    <mat-card class="card">
        <div class="cantidad-card px-2">
            <h2>27</h2>
        </div>
        <div class="nombre-card px-2 ">
            <h1>RESERVAS</h1>
        </div>
    </mat-card>
    <mat-card class="card">
        <div class="cantidad-card px-2">
            <h2>8</h2>
        </div>
        <div class="nombre-card px-2">
            <h1>NOTICIAS</h1>
        </div>
    </mat-card>

</div>