<div class="my-3 home">
  <h1 class="m-5">Turismo Ushuaia</h1>
  <ul>
    <li>
      <img
        src="../../../assets/home/turismo-ushuaia1.jpg"
        alt="turismo-ushuaia1"
      />
    </li>
    <li>
      <img
        src="../../../assets/home/turismo-ushuaia2.jpg"
        alt="turismo-ushuaia2"
      />
    </li>
    <li>
      <img
        src="../../../assets/home/turismo-ushuaia3.jpg"
        alt="turismo-ushuaia3"
      />
    </li>
    <li>
      <img
        src="../../../assets/home/turismo-ushuaia4.jpg"
        alt="turismo-ushuaia4"
      />
    </li>
  </ul>
</div>
<h1 class="mx-10">Excursiones</h1>
<app-excursiones [onHome]="true" ></app-excursiones>
